* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul,ol {
    list-style-type: none;
}
/*===========nevbar part css=========*/
}
.nav {
    background-color: #FFF9F4;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}
.bg {
    background: #95e1d3;
    height: 70px;
    animation: sticky 1s;
}
@keyframes sticky{
    from{top: -50px}
    to{top: 0}
}
.navbar .navbar-nav .nav-link {
	color: #3C3C3C;
     font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 80px;
    transition:  all linear .3s;
    position: relative;
    padding-left: 465px;
}
.navbar .navbar-nav .nav-item  {
        padding: 0 27px;
}
.navbar-expand-lg .navbar-nav .nav-link {
	padding-right: 0;
	padding-left: 0;
}
.navbar .navbar-nav .nav-link:after {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background: #905a02;
    left: 0;
    bottom: 28px;
    opacity: 0;
    transition:  all linear .3s;
    
}
.navbar .navbar-nav .nav-link:hover {
    color: #905a02;
}
.navbar .navbar-nav .nav-link:hover:after {
    opacity: 1;
    width: 100%;
}
/*===========banner part css=========*/
#banner {
    background-color: #FFF9F4;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 715px;
    top: 0;
    left: 0;
    position: relative;
}
.banner-img img{
    width: 100%;
    padding-top: 90px;
}
.banner-text  h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 61px;
    font-weight: 600;
    color: #FA804C;
    text-transform: uppercase;
    padding-top: 160px;
  
}
.banner-text  span{
    font-family: 'Roboto', sans-serif;
    font-size: 84px;
    font-weight: 600;
    color: #363958;
    
   
}
.banner-text  p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 26px;
    padding-bottom: 18px;
}
.banner-button button {
    padding: 15px 25px;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(to bottom, #3D4FF2, #3543BC);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}

/*===========shoe part css=========*/
.shoe1 h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: #363958;
    text-transform: uppercase;
    padding-left: 10px;;
}
.card {
    border-radius: 10px;
}
.card h5{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #363958;
}
.card p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #3E3E3E;
  
}
.card-button button{
    padding: 5px 10px;
    border-radius: 10px;
    color: #fff;
    background: linear-gradient(to bottom, #3D4FF2, #3543BC);
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
}
.card-button h3{
    color: #FA804C;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-right: 60px;
}
/*===========little part css=========*/
#little-card {
    padding-top: 50px;
    padding-bottom: 70px;
}
.ittle-card1 {
    width: 489px;
    height: 135px;
    border-radius: 10px;
}
/*===========nevbar part css=========*/
#footer {
    background: #f8f8f8;
    padding-top: 80px;
}
.footer-item p {
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}
.footer-logo {
    padding-bottom: 36px;
}
.footer-item h6 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    padding-top: 29px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 16px;
}
.footer-item h6 span {
    font-size: 18px;
    font-weight: 700;
}
.footer-item h5 {
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 38px;
}
.social1 i {
    color: #95e1d3;
    font-size: 16px;
    padding: 0 9px;
}
.subcribe .form-control {
    height: 38px;
    border: 1px solid #e7e7e7;
    border-radius: 0;
    color: #999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    text-transform: capitalize;
   
}
.sub {
    position: relative;
}
.subcribe .btn {
    padding: 6px 34px;
    background: #95e1d3;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 0;
    right: 0;
    
}
.footer-item h3 {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 28px;
}
.blog-info p {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 0;
    padding-top: 5px;
}
.blog-main {
    padding-bottom: 30px;
}
.blog-img {
    border: 1px solid #f8f8f8;
}
.more-photos {
    padding-top: 18px;
}
.more-photos a {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-style: italic;
    font-weight: 300;
}
.copyright {
    border-top: 1px solid #ddd;
}
.copyright p{
     font-family: 'Montserrat', sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 60px;
    margin-bottom: 0;
}
.copyright p span {
    color: #f38181;
}
.subcribe {
    padding-bottom: 48px;
}

/*===========media part css=========*/
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
    .navbar .navbar-nav .nav-item {
        padding: 0px 100px;
    }
    .navbar-brand {
        width: 230px;
 }
     .navbar-toggler i {
         color: #fff;
         font-size: 24px;
     }
     button:focus {
     outline: none;
 }
     .navbar-nav {
     background: #95e1d3;
 }
     .navbar-expand-lg .navbar-nav .nav-link {
     text-align: center;
 }
     .navbar .navbar-nav .nav-link {
     line-height: 40px;
 }
     .navbar .navbar-nav .nav-link::after {
     display: none;
 }
     .banner-text h1 {
     font-size: 50px;
 
 }
     .banner-text h3 {
     font-size: 36px;
 }
     #banner {
     padding-top: 120px;
     padding-bottom: 120px;
 
 }
     .about-item {
     margin-bottom: 30px;
 }
     #about {
     padding-top: 46px;
     padding-bottom: 55px;
 }
     .heading {
     padding-bottom: 40px;
 }
     #counter {
     padding-top: 45px;
     padding-bottom: 45px;
 }
     #service {
     padding-top: 55px;
 }
     .heading h2 {
     font-size: 26px;
 }
     .service-item {
     padding-bottom: 30px;
     text-align: center;
 }
     .service-item  h3 {
     padding-top: 10px;
 }
     .feed-cmnts p {
     font-size: 18px;
     line-height: 28px;
     text-align: center;
 }
     .feed-icon {
         text-align: center;
         padding-bottom: 20px;
     }
     #feedback .right {
         display: none!important;
 }
      #feedback .left {
         display: none!important;
 }
     .feed-cmnts h4 {
     text-align: center;
 }
     .feed-cmnts h4::after {
     left: 35px;
 }
     #team {
     padding-top: 50px;
 }
     .team-item {
         margin-bottom: 30px;
     }
     #work {
     padding-top: 50px;
     padding-bottom: 50px;
 }
     #footer {
     padding-top: 40px;
 }
     .social1 i {
     padding: 0px 5px;
 }
     .blog-info {
     padding: 0 15px;
 }
     .more-photos {
     padding-bottom: 20px;
     padding-left: 15px;
 }
     .copyright p {
     font-size: 13px;
 }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
/*===========nevbar part css=========*/
/*===========nevbar part css=========*/